/*Scoreboard Section*/
/* spectre-theme.scss
 Define variables to override default ones */
/*Theme overriding*/
.container {
  height: 100%; }
  .container .container {
    padding-top: 1rem; }

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; }
  .navbar .username {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 120%; }
  .navbar .btn.btn-link.active {
    font-size: 110%;
    font-weight: 500; }

.modal ol li:first-child {
  font-size: 125%;
  font-weight: 500; }

.divider-vert::before {
  border-left: 0;
  border-bottom: 1px solid; }

/* Custom styles */
.columns.cardsdeck {
  height: 35%; }
  .columns.cardsdeck .deck {
    padding-top: 2%; }

.columns.dropzone {
  height: 35%;
  min-height: 200px; }
  .columns.dropzone .drop {
    z-index: 100; }
  .columns.dropzone .tile {
    margin-top: 1rem; }

.scoreboard {
  background-image: url("../assets/images/scoreboard-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 262.5px;
  height: 300px;
  transform: rotate(5deg); }
  .scoreboard .title {
    transform: rotate(-19deg);
    padding-left: 3rem;
    padding-top: 2.3rem;
    font-size: 130%; }
  .scoreboard .dtitle,
  .scoreboard .dsum {
    height: 1px;
    background: #000; }
  .scoreboard .dtitle {
    transform: rotate(-14deg);
    margin-left: 3rem;
    margin-top: 0.7rem;
    margin-right: 4.5rem; }
  .scoreboard .scores {
    transform: rotate(-13deg);
    margin-left: 3.8rem; }
    .scoreboard .scores ul {
      margin-top: 0; }
      .scoreboard .scores ul li {
        margin-top: 0; }
  .scoreboard .dsum {
    transform: rotate(-14deg);
    margin-left: 4rem;
    margin-top: 0.7rem;
    margin-right: 4rem; }
  .scoreboard .sum {
    transform: rotate(-17deg);
    padding-left: 6rem;
    padding-top: .2rem;
    font-size: 150%; }

.blocker {
  position: absolute;
  /* TODO: set in js files
      top: 0;
      left: 0;
      width: 200px;
      height: 200px; */
  z-index: 200;
  opacity: 0.4;
  filter: alpha(opacity=50); }
