    @import '_variables';
    /*Theme overriding*/

    .container {
      height: 100%;
      .container {
        padding-top: 1rem;
      }
    }

    .navbar {
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    .divider-vert {
      &::before {
        border-left: 0;
        border-bottom: 1px solid;
      }
    }
    /* Custom styles */

    .columns {
      &.deck,
      &.dropzone {
        height: 30%;
        min-height: 200px;
      }
    }

    #deck {
      padding-top: 10%;
    }

    .scoreboard {
      background-image: $scoreboard;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 350px;
      height: 400px;
      transform: rotate(5deg);
      .title {
        transform: rotate(-19deg);
        padding-left: 3rem;
        padding-top: 2.3rem;
        font-size: 130%;
      }
      .dtitle,
      .dsum {
        height: 1px;
        background: #000;
      }
      .dtitle {
        transform: rotate(-14deg);
        margin-left: 3rem;
        margin-top: 0.7rem;
        margin-right: 4.5rem;
      }
      .scores {
        transform: rotate(-13deg);
        margin-left: 3.8rem;
        ul {
          margin-top: 0;
          li {
            margin-top: 0;
          }
        }
      }
      .dsum {
        transform: rotate(-14deg);
        margin-left: 4rem;
        margin-top: 0.7rem;
        margin-right: 4rem;
      }
      .sum {
        transform: rotate(-17deg);
        padding-left: 6rem;
        padding-top: .2rem;
        font-size: 150%;
      }
    }
